:root {
    --theia-layout-color0: #1d1d1d;
    --theia-layout-color1: #252526;
    --theia-layout-color2: #333333;
    --theia-layout-color3: #383838;
    --theia-layout-color4: #383838;
    --theia-list-hoverBackground: var(--vscode-list-hoverBackground);
    --theia-selection-background: var(--vscode-list-activeSelectionBackground);
    --theia-ui-font-color2: #f0f8ff;
    --theia-ui-button-color: var(--vscode-button-background);
    --theia-accent-color3: var(--vscode-button-background);
    --theia-menu-background: var(--vscode-menu-background);
    --theia-menu-foreground: var(--vscode-menu-foreground);
    --theia-menu-selectionBackground: var(--vscode-menubar-selectionBackground);
    --theia-menu-selectionForeground: var(--vscode-menubar-selectionForeground);
    --theia-menu-selectionBorder: var(--vscode-menubar-selectionBorder);
    --theia-widget-shadow: var(--vscode-widget-shadow);
    --theia-menu-border: var(--vscode-dropdown-border);
    --theia-ui-font-color0: var(--vscode-editor-foreground);
    --theia-editor-background: var(--vscode-editor-background);
    --theia-tree-inactiveIndentGuidesStroke: var(--vscode-tree-indentGuidesStroke);
    --theia-input-background: var(--vscode-input-background);
    --theia-input-placeholder-foreground: var(--vscode-input-placeholderForeground);
    --theia-ui-font-family: var(--vscode-editor-fontFamily);
}
