:root {
    /* vs-code variables */
    --vscode-editor-foreground: var(--vscode-foreground);

    /* mapped CSS variables from traceviewer-react-components */
    --trace-viewer-list-hoverBackground: var(--vscode-list-hoverBackground);
    --trace-viewer-selection-background: var(--vscode-list-activeSelectionBackground);
    --trace-viewer-ui-font-color2: var(--vscode-editor-foreground);
    --trace-viewer-ui-button-color: var(--vscode-button-background);
    --trace-viewer-menu-background: var(--vscode-menu-background);
    --trace-viewer-menu-foreground: var(--vscode-menu-foreground);
    --trace-viewer-menu-selectionBackground: var(--vscode-menubar-selectionBackground);
    --trace-viewer-menu-selectionForeground: var(--vscode-menubar-selectionForeground);
    --trace-viewer-menu-selectionBorder: var(--vscode-menubar-selectionBorder);
    --trace-viewer-widget-shadow: var(--vscode-widget-shadow);
    --trace-viewer-menu-border: var(--vscode-dropdown-border);
    --trace-viewer-ui-font-color0: var(--vscode-editor-foreground);
    --trace-viewer-editor-background: var(--vscode-editor-background);
    --trace-viewer-tree-inactiveIndentGuidesStroke: var(--vscode-tree-indentGuidesStroke);
    --trace-viewer-input-background: var(--vscode-input-background);
    --trace-viewer-input-placeholder-foreground: var(--vscode-input-placeholderForeground);
    --trace-viewer-ui-font-family: var(--vscode-editor-fontFamily);
    --trace-viewer-statusBar-background: var(--vscode-statusBar-background);
    --trace-viewer-statusBar-foreground: var(--vscode-statusBar-foreground);
    --trace-viewer-ui-font-size1: var(--vscode-font-size);
    --trace-viewer-editorWidget-background: var(--vscode-editorWidget-background);
    --trace-viewer-ui-padding: 6px;
    --trace-viewer-list-line-height: 16px;
    --trace-viewer-layout-color4: var(--vscode-editorWidget-background);
    --trace-viewer-foreground: var(--vscode-editorWidget-foreground);
}
