body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    position: absolute;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Semi-opaque black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* Ensure the overlay appears on top */
}

.overlay-message {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    user-select: none;
}
